* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_about {
  position: relative;
  width: 100%;
  min-height: 100vh !important;
  height: 100%;
  background-image: url(../../images/background.jpg);
}

.banner {
  background-color: var(--currentColor);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50vh;
  opacity: 0.5;
  z-index: -1;
}
.containerAbout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  min-height: 35rem;
  width: 60%;
  background-color: whitesmoke;
  z-index: 1;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.82);
}

.containerAbout main {
  display: flex;
  width: 100%;
  height: 100%;
}
/*Estilos da parte aside da pagina about*/
.asideAbout {
  display: grid;
  grid-template-rows: 45% 1fr;
  height: 100%;
  width: 16rem;
  max-width: 16rem;
  min-width: 16rem;
  background-color: #dcdcdc;
}

.asideAbout .asideAbout_img {
  width: 16rem;
  min-width: 16rem;
  height: 20rem;
  min-height: 19rem;
}

.asideAbout .asideAbout_img img {
  width: 100%;
  height: 100%;
  margin: 0;
}
/*Estilos da parte section da pagina about*/
.sectionAbout {
  width: 80%;
}

.sectionAbout .sectionAbout_container {
  margin: auto;
  width: 85%;
}
.sectionAbout .sectionAbout_container h1 {
  text-align: center;
  border: 0.2rem dashed rgba(0, 0, 0, 0.459);
  text-transform: uppercase;
  font-size: 3rem;
  margin: 1rem auto;
}

.sectionAbout .sectionAbout_container h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.sectionAbout .sectionAbout_container h2 span {
  font-weight: 800;
}
.sectionAbout .sectionAbout_container h2 .typing {
  color: var(--currentColor);
}

.sectionAbout .sectionAbout_container p {
  font-size: 1.3rem;
  text-align: justify;
}

.containerSkillsIcons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-around;
  margin-top: 2.5rem;
}

@media (max-width: 1868px) {
  .containerAbout {
    height: 70%;
    width: 70%;
  }
  .sectionAbout .sectionAbout_container h1 {
    font-size: 2.5rem;
  }
  .sectionAbout .sectionAbout_container h2 {
    font-size: 1.5rem;
  }
  .sectionAbout .sectionAbout_container p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1580px) {
  .containerAbout {
    height: 80%;
    width: 80%;
  }
}

@media (max-width: 1186px) {
  .containerAbout {
    height: 90%;
    width: 90%;
  }
  .asideAbout {
    grid-template-rows: 40% 1fr;
  }

  .sectionAbout .sectionAbout_container h1 {
    font-size: 2.2rem;
  }
  .sectionAbout .sectionAbout_container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sectionAbout .sectionAbout_container p {
    font-size: 1.1rem;
  }

  .containerSkillsIcons {
    margin: 2rem auto;
    width: calc(60% - 10px);
    min-width: 23rem;
  }
}
@media (max-width: 921px) {
  .sectionAbout .sectionAbout_container h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .containerSkillsIcons {
    margin: 1.5rem auto;
    width: calc(60% - 10px);
    min-width: 23rem;
  }
}

@media (max-width: 768px) {
  .containerAbout {
    margin-top: 1rem;
    margin-bottom: 20rem;
    min-height: fit-content;
  }
  .containerAbout main {
    display: flex;
    flex-direction: column;
  }
  .asideAbout {
    display: flex;
    max-width: 100%;
    width: 100%;
  }

  .sectionAbout {
    width: 100%;
  }
  .sectionAbout .sectionAbout_container p {
    margin-bottom: 1rem;
  }
  .containerSkillsIcons {
    margin-bottom: 3rem;
  }
}
