* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh !important;
}

.body_portfolio {
  position: relative;
}

.container_portfolio {
  margin: auto;
  background-color: whitesmoke;
  z-index: 0;
  height: auto;
}

.container_portfolio .container_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  background-color: var(--currentColor);
}

.container_portfolio .navbar_container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.section_container {
  flex: 1;
  width: 100%;
}
.section_container .section_title .section_text,
.section_container {
  width: 95%;

  margin: auto;
}

.section_container .section_title h1 {
  font-size: 1.8rem;
  margin: 1rem auto;
}
.section_container .section_title h1::after {
  display: block;
  content: ' ';
  width: 5rem;
  height: 0.5rem;
  border-top: 2px solid var(--currentColor);
  font-size: 1.8rem;
}

.section_container .section_text h2 {
  font-size: 1.1rem;
  font-weight: normal;
  text-align: justify;
  margin: 1rem auto;
}

.section_container .carousel_container .carousel .carousel_pagination {
  display: none;
}
.section_container .carousel_container .carousel .carousel_item {
  width: 95%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.397);
}

.section_container .carousel_container .carousel .carousel_item h3 {
  text-align: center;
  font-size: 1.3rem;
}

.section_container .carousel_container .carousel .carousel_item a .fa-brands {
  color: black;
}
.section_container .carousel_container .carousel .carousel_item a img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .body_portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/background.jpg');
  }

  .banner {
    background-color: var(--currentColor);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    opacity: 0.5;
    z-index: -1;
  }
  .container_portfolio {
    position: relative;
    margin: auto;
    width: 85%;
    height: 85%;
    min-height: 30rem;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.82);
  }

  .container_portfolio .container_icons {
    background-color: transparent;
  }

  .section_container .section_title h1 {
    margin: auto;
    width: 80%;
    text-align: start;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .section_container .section_text h2 {
    font-size: 1.3rem;
    margin: auto;
    width: 80%;
  }

  .section_container .carousel_container {
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 18rem;
    margin: 0.2rem auto;
  }

  .section_container .carousel_container .carousel {
    display: flex;
    align-items: center;
    margin: auto;
    transition: transform 0.5s;

    width: 50%;
    height: 100%;
  }

  .section_container .carousel_container .carousel .carousel_item {
    flex: 0 0 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
  }

  .section_container .carousel_container .carousel .carousel_item.active {
    transform: scale(1.2);
    z-index: 2;
    opacity: 1;
  }

  .section_container .carousel_pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;
    z-index: 1;
  }

  .section_container .carousel_pagination .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--currentColor);
    cursor: pointer;
  }

  .section_container
    .carousel_container
    .carousel
    .carousel_pagination
    .dot.active {
    background: #333;
  }

  .section_container .carousel_container .carousel .carousel_item .item_img {
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .section_container
    .carousel_container
    .carousel
    .carousel_item
    .item_img
    a
    img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

@media screen and (min-width: 1500px) {
  .container_portfolio {
    width: 65%;
    height: 65%;
  }
}
