/* Estilos globais da Navbar */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.hamburgerContainer {
  margin: 1.7rem 1rem;
  z-index: 3;
}
.hamburger-icon {
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 1;
}

.bar {
  width: 30px;
  height: 4px;
  margin-bottom: 4px;
  background-color: black;
  transition: transform 0.3s, opacity 0.3s;
}

.cross .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.cross .bar:nth-child(2) {
  opacity: 0;
}

.cross .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu-open .nav-list {
  display: block;
  text-align: center;
  padding: 2rem;
}

.nav-list {
  display: none;
  width: 100%;
  background-color: var(--currentColor);
  list-style: none;
  margin: auto;
}

.nav-list a {
  font-size: 1.4rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.nav-list li .link.active {
  color: white;
}
.vertical-dots {
  font-size: 1.3rem;
  display: block;
  transform: rotate(-90deg);
  color: black;
  margin-top: 0.3rem;
}
.icon-text {
  margin-left: 1rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(50%);
    width: auto;
    z-index: 2;
  }
  .hamburgerContainer {
    display: none;
    margin: 1.1rem 1rem;
  }
  .nav-list {
    display: block;
    width: fit-content;
    padding: 0.3rem;
    border-radius: 5rem;
    z-index: 1;
    padding: 1rem 0.2rem;
  }
  .nav-list li {
    margin-bottom: 1rem;
  }
  .nav-list .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }

  .icon-text {
    display: none;
  }
  .vertical-dots {
    margin-left: -0.5rem;
    font-size: 1.2rem;
  }
  .body_about .navbar {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    width: 100%;
    z-index: 2;
  }
  .body_about .nav-list {
    display: block;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding: 0.5rem;
  }
  .body_about .icon-text {
    display: block;
  }
  .body_about .vertical-dots {
    display: none;
  }
  .body_about .nav-list li {
    margin-bottom: 0;
    padding: 0.4rem;
  }
  .body_about .nav-list li:not(:last-child)::after {
    display: block;
    margin: auto;
    content: ' ';
    width: 80%;
    height: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
  }
  .body_about .nav-list a {
    flex-direction: row;
    font-size: 1.1rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 1500px) {
  .navbar {
    transform: translateY(50%);
  }
  .body_about .nav-list {
    padding: 0.5rem 0.2rem;
  }
  .body_about .nav-list li {
    padding: 0.6rem;
  }
}
